<p id="notice"><%= notice %></p>

<p>
  <b>Banner:</b>
  <%= @banner.banner %>
</p>

<p>
  <b>Width:</b>
  <%= @banner.width %>
</p>

<p>
  <b>Height:</b>
  <%= @banner.height %>
</p>



<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
